p Kontaktai
//- to do: padaryti su schema  
.c5
 address UAB „DIGLITA“ <br/>
    a(href="https://goo.gl/maps/bMmqY4AQJC42", title="UAB DIGLITA adresas Panerių g.37, Vilnius" target="_blank") Panerių g.37, Vilnius <br />
    b Darbo laikas: <br />
    | I-V 08-19val. <br />
    | VI-VII - nedirbame <br />
    a(href="tel:+370 656 21156", title="Kontaktinis telefono numeris") +370 656 21156,  
    a(href="tel:+370 5 233 5612", title="Kontaktinis telefono numeris") +370 5 233 5612 <br />
    a(href="mailto:info@diglita.lt", title="El.paštas info@diglita.lt") info@diglita.lt
.c5
 address UAB „DIGLITA“ <br/>
    a(href="https://goo.gl/maps/5mvVoX2ckVQ2", title="UAB DIGLITA adresas Visorių g.27, Vilnius"  target="_blank") Visorių g.27, Vilnius <br />
    b Darbo laikas: <br />
    | I-V 09-18val. <br />
    | VI-VII - nedirbame <br />
    a(href="tel:+370 650 80099", title="Kontaktinis telefono numeris") +370 650 80099,  
    a(href="tel:+370 5 232 5444", title="Kontaktinis telefono numeris") +370 5 232 5444 <br />
    a(href="mailto:info@diglita.lt", title="El.paštas info@diglita.lt") info@diglita.lt