.titulinis-skatinimas
 h1 Padangų pirkimo, montavimo skatinimo skiltis
 p Žinutės lankytojui: perkant 4vnt padangų montavimas nemokamai
 p Žinutės lankytojui: pirmi 10 užsiregistravusių padangų keitimui taikome Z% nuolaidą paslaugos kainai.