.paslaugos-skatinimas
 h1 Paslaugų pirkimo skatinimo skiltis
 p Žinutės lankytojui: užsakius A ir B paslaugą, taikome X% nuolaidą.
 p Žinutės lankytojui: užsakius D ir C paslaugą, taikome Y% nuolaidą.