extends ./default.pug

block main
 
 .r
  .c0
   //- Navigation
   include ./partials/navigation.pug 

 .r
  .c0
   h1 Mūsų teikiamos paslaugos
   include ./partials/paslaugu-skatinimas.pug

  .c0
   -var i = 1;
   while i < 8
    .c5.pp  
     h1 #{i++} Paslaugos pavadinimas 
     p (tekstai su raktiniais žodžiais dėl SEO) Lorem ipsum - tai fiktyvus tekstas naudojamas spaudos ir grafinio dizaino pasaulyje jau nuo XVI a. pradžios. Lorem Ipsum tapo standartiniu fiktyviu tekstu, kai nežinomas spaustuvininkas atsitiktine tvarka išdėliojo raides atspaudų prese ir tokiu būdu sukūrė raidžių egzempliorių. Šis tekstas išliko beveik nepasikeitęs ne tik penkis amžius, bet ir įžengė i kopiuterinio grafinio dizaino laikus. Jis išpopuliarėjo XX a. šeštajame dešimtmetyje, kai buvo išleisti Letraset lapai su Lorem Ipsum ištraukomis, o vėliau -leidybinė sistema AldusPageMaker, kurioje buvo ir Lorem Ipsum versija.
  