.ieskoti {
    display: block;
    box-sizing: border-box;
    // border: 1px solid red;
    background: rgb(118, 201, 22);
    color: white;
    padding: 10px;
}

.sr {
    // border: 1px solid red;
    box-sizing: border-box;
    padding: 10px;
}

.nav {
    display: inline;
    // border: 1px solid red;
    box-sizing: border-box;
    padding: 0 40px 0 0;
}

nav {
    box-sizing: border-box;
    // border: 1px solid red;
}

.action {
    box-sizing: border-box;
    // border: 1px solid red;
    background: rgb(118, 201, 22);
    color: white;
    padding: 10px;
}

.tire {
    box-sizing: border-box;
    border: 1px solid rgb(214, 214, 214);
    margin: 0 20px 20px 0;
    padding: 10px;
}

.matas {
    list-style: none;
    
    li {
         margin: 0;

         em {
            font-weight: bold; 
         }
    }
}

.price {
    font-size: 1.4em;
    color: $a-color;
}

.akcija {
    color: red;
}

// Atskirkime grid struktura nuo skirtingu DIV formatavimo
.pp {
    padding: 0 80px 80px 0;
    // border: red 1px solid;
}

.titulinis-skatinimas {
    padding: 80px;
    margin: 32px 0 0 0;
    border: 1px solid rgb(214, 214, 214);
}

.paslaugos-skatinimas {
    padding: 80px;
    margin-bottom: 3em;
    border: 1px solid rgb(214, 214, 214);
}
