.ieskoti {
    display: block;
    box-sizing: border-box;
    // border: 1px solid red;
    background: rgb(118, 201, 22);
    color: white;
    padding: 10px;
}

.sr {
    // border: 1px solid red;
    box-sizing: border-box;
    padding: 10px;
}

.nav {
    display: inline;
    // border: 1px solid red;
    box-sizing: border-box;
    padding: 0 40px 0 0;
}

nav {
    box-sizing: border-box;
    // border: 1px solid red;
    padding-bottom: 40px; 
}